body {
    display: flex;
    flex-direction: column; /*just added*/
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}


.btn {
    display: flex;
    flex: auto;
    width: 100%;
    justify-content: flex-end;
    padding-right: 10%;
}


.grid-container {
    display: flex;
    flex: 1 1 auto;
    /*border: 1px solid black;*/
    flex-direction: column;
    justify-content: center;
    height: 500px;
    min-width: 500px;
    max-width: 500px;
    background-color: white;
}


.div-row {
    display: flex;
    flex: 1 1 auto;
    /*border: 1px solid blue; */
}


.div-column {
    display: flex;
    flex: 1 1 auto;
    /*border: 1px solid red;*/
}